header{
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

p{
font-family: 'Times New Roman', Times, serif;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.75rem;
}

#contact{
    background-color: #7f93e3;
}

#contact1{
    background-color: #f59fe7;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
}
img {
    max-width: 100%;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

.names{
    font-size: 1.3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.words{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
